body{
  background-color: #f8f9fa;
}

.title{
  font-weight: bolder;
  color: #9c27b0;
  margin-top: 10%;
  font-size: 40px;
}

.react-datepicker-wrapper{
  width: 100%;
}

/* #citoyenForm{
  display: none;
} */